/*
Notes
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Suggested media queries (taken from skeleton.css):
    @media (min-width: 400px) {}
    @media (min-width: 550px) {}
    @media (min-width: 750px) {}
    @media (min-width: 1000px) {}
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Color palette:
#ae213f Deep Carmine (highlights/accents)
#6c6c6d Dim Gray (large text)
#364156 Charcoal / dark blue (small text)
#f9f9f9 off-white (body background)
#040302 Rich Black / FOGRA39 (default text color)
#dfe0e4 Platinum (other text)

 Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
- Temporary properties
- Universal
- Typography
- Nav bar
- Footer
- Index.html
- About.html
- Examples.html
- Demo.html
- group 9
*/

/*
Temporary properties
use these properties to help with sizing and positioning of box elements
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.temporary1    {border: 1px dashed red;}
.temporary2    {border: 1px solid lightsalmon;}
.temporary3    {border: 1px dashed yellow;}
.temporary4    {border: 1px solid limegreen;}
.temporary5    {border: 1px dashed lightskyblue;}
.temporary6    {border: 1px solid plum;}
.temporary7    {border: 1px dashed purple;}

/* Typography 
currently using skeleton.css fonts
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*@font-face{
    font-family: "Centra No. 2";
    src: url("font/CentraNo2-Black.otf") format("otf");
    src: url("font/CentraNo2-BlackItalic.otf") format("otf");
    src: url("font/CentraNo2-Bold.otf") format("otf");
    src: url("font/CentraNo2-BoldItalic.otf") format("otf");
    src: url("font/CentraNo2-Book.otf") format("otf");
    src: url("font/CentraNo2-BookItalic.otf") format("otf");
    src: url("font/CentraNo2-Extrabold.otf") format("otf");
    src: url("font/CentraNo2-ExtraboldItalic.otf") format("otf");
    src: url("font/CentraNo2-Hairline.otf") format("otf");
    src: url("font/CentraNo2-HairlineItalic.otf") format("otf");
    src: url("font/CentraNo2-Light.otf") format("otf");
    src: url("font/CentraNo2-LightItalic.otf") format("otf");
    src: url("font/CentraNo2-Medium.otf") format("otf");
    src: url("font/CentraNo2-MediumItalic.otf") format("otf");
    src: url("font/CentraNo2-Thin.otf") format("otf");
    src: url("font/CentraNo2-ThinItalic.otf") format("otf");}*/
body {
    color: #040302;}

/* Universal
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; }/* Non-prefixed version, currently supported by Chrome and Opera */

/* Nav bar
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
nav a,
nav a:link,
nav a:visited,
nav a:hover {
    color: #dfe0e4;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 2.0rem;
    text-transform: uppercase;}
nav a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  background: #dfe0e4;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;}
nav .demoLink:after {
    background: #ae213f;}
nav a:hover:after { 
  width: 100%;}
@media (min-width: 400px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {}
@media (min-width: 1000px) {
    nav {
        height: 10vh;}
    nav > div {
        height: 5vh;
        margin: 2.5vh auto;}
    nav a,
    nav a:link,
    nav a:visited,
    nav a:hover {
        font-size: 2.0rem;}
    nav .demoLink:hover {
        color: #ae213f;
        transition: 0.25s;}
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 400px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {}
@media (min-width: 1000px) {}

/* Index.html
Landing page
properties are for individual pages, prefix selectors with class attribute followed by page name
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.index {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/lorenzo-fulvi-1270108-unsplash.jpg"); /* The image used */
    background-color: #f9f9f9; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    overflow: hidden; /* Prevent scrolling */
    margin: 0; /* Prevent scrolling */}
.index header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
.index h1 {
    text-align: center;
    font-size: 5.0rem;
    color: #f9f9f9;}
.index h2 {
    text-align: center;
    font-size: 2.0rem;
    color: #f9f9f9;}
@media (min-width: 400px) {
    .index {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/lorenzo-fulvi-1270108-unsplash.jpg"); /* The image used */
    background-color: #f9f9f9; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    overflow: hidden; /* Prevent scrolling */
    margin: 0; /* Prevent scrolling */}
}
@media (min-width: 550px) {
    .index {
        height: 100vh;
        width: 100vw;
        background-image: url("../img/lorenzo-fulvi-1270108-unsplash.jpg"); /* The image used */
        background-color: #f9f9f9; /* Used if the image is unavailable */
        height: 800px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        overflow: hidden; /* Prevent scrolling */
        margin: 0; /* Prevent scrolling */}
}
@media (min-width: 750px) {
    .index {
        height: 100vh;
        width: 100vw;
        text-align: center; /* Keeps 'Learn more' button centered under <h2> */
        background-image: url("../img/jonathan-gallegos-722421-unsplash.jpg"); /* The image used */
        background-color: #f9f9f9; /* Used if the image is unavailable */
        /* height: 500px; You must set a specified height / not used */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        overflow: hidden; /* Prevent scrolling */
        margin: 0; /* Prevent scrolling */}
    .index header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);}
    .index h1 {
        text-align: center;
        font-size: 22.0rem;
        color: #f9f9f9;}
    .index h2 {
        text-align: center;
        font-size: 5.0rem;
        color: #f9f9f9;}
}
@media (min-width: 1000px) {
    .index {
        height: 100vh;
        width: 100vw;
        text-align: center;  /* Keeps 'Learn more' button centered under <h2> */
        background-image: url("../img/jonathan-gallegos-722421-unsplash.jpg"); /* The image used */
        background-color: #f9f9f9; /* Used if the image is unavailable */
        /* height: 500px; You must set a specified height / not used */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        overflow: hidden; /* Prevent scrolling */
        margin: 0; /* Prevent scrolling */}
    .index header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);}
    .index h1 {
        text-align: center;
        font-size: 22.0rem;
        color: #f9f9f9;}
    .index h2 {
        text-align: center;
        font-size: 5.0rem;
        color: #f9f9f9;}
}


/* About.html
properties are for individual pages, prefix selectors with class attribute followed by page name
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 400px) {
    .about {
        height: 300vh;
        width: 100vw;
        background-color: #f9f9f9;}
}
@media (min-width: 550px) {
    .about {
        height: 300vh;
        width: 100vw;
        background-color: #f9f9f9;}
}
@media (min-width: 750px) {
    .about {
        height: 300vh;
        width: 100vw;
        background-color: #f9f9f9;}
    .about nav a.active:after {
        width: 100%;}
    .about header {
        height: 100vh;
        width: 100vw;
        background-image: url("../img/claudio-hirschberger-1326178-unsplash.jpg"); /* The image used */
        background-color: #f9f9f9; /* Used if the image is unavailable */
        /* height: 500px; You must set a specified height / not used */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */}
    .about div {
    }
}
@media (min-width: 1000px) {
    .about {
        height: 290vh;
        width: 100vw;
        background-color: #f9f9f9;
        background-image: url("../img/claudio-hirschberger-1326178-unsplash.jpg"); /* The image used */
        background-color: #f9f9f9; /* Used if the image is unavailable */
        height: 90vh; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */}
    .about nav a.active:after { 
        width: 100%;}
    .about header {
        height: 90vh;
        width: 100vw;}
    .about div.topContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);}
    .about div.bodyContainer {
        height: 200vh;
        width: 100vw;
    }
}

/* Examples.html
Example charts
properties are for individual pages, prefix selectors with class attribute followed by page name
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.examples {
    background-color: #f9f9f9;}
@media (min-width: 400px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {
    .examples nav a.active:after { 
        width: 100%;}
}
@media (min-width: 1000px) {
    .examples {
        overflow: hidden; /* Prevent scrolling */
        margin: 0; /* Prevent scrolling */}
    .examples nav a.active:after { 
        width: 100%;}
}

/* Demo.html
End-user manipulation
properties are for individual pages, prefix selectors with class attribute followed by page name
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.demo {
    background-color: #f9f9f9;}
@media (min-width: 400px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {
    .demo nav a.active:after { 
        width: 100%;}
}
@media (min-width: 1000px) {
    .demo {
        overflow: hidden; /* Prevent scrolling */
        margin: 0; /* Prevent scrolling */}
    .demo nav a.active:after { 
        width: 100%;}
}

/* group 9
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 400px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {}
@media (min-width: 1000px) {}